// Specific CSS for your home-page
body {
  background-color: black;
}

.font-carousel {
  color: white;
  margin: 0 0 10px;
  font-family: Roboto,Arial;
}

.font-carousel h1 {
  font-size: 60px;
  font-weight: bolder;
}

.font-carousel p {
  font-size: 30px;
  font-weight: lighter;
}

// Specific CSS for video home-page
.vhm {
  height: 600px;
  text-align: center;
  margin-top: 100px;
}

.vhm a {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.evi {
  height: 100%;
  background-color: rgba(0,0,0,.47);
}

.evi h3 {
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: 100px 100px 100px 100px;
  display: flex;
  height: 100%;
  background-color: rgba(0,0,0,.47);
}

.inner-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  padding: 100px 100px 100px 100px;
  background: #fff;
  text-align: center;
}

.visas {
  margin-top: 100px;
  align-items: center;
  text-align: center;
  font-size: 100px;
  padding: 50px;
}

.visas h2 {
  margin-top: 100px;
  align-items: center;
  text-align: center;
  font-size: 50px;
  padding: 50px;
}
