<% images = ["front-end.png", "back-end.jpg", "full-stack.png"] %>


<div class="container">
  <h1 class="text-center">Our Visas for You</h1>

  <% @visas.each do |visa| %>
    <div class="card-visa bg-dark">
      <%= image_tag images[visa.id-1] %>
    <div>
      <h2>
        <%= link_to visa.title, visa_path(visa) %>
      </h2>
      <p>
        <%= visa.description %>
      </p>
    </div>
    </div>

  <% end %>
</div>
