<% images = ["front-end.png", "back-end.jpg", "full-stack.png", "mobile.png", "data.jpg"] %>


<div class="container">
  <h1 class="text-center">Our Visas for You</h1>

  <% @visas.each_with_index do |visa, i| %>

    <div class="card-visa bg-dark">


      <%= image_tag images[i] %>

      <div>
        <h2>
          <%= link_to visa.title, visa_path(visa) %>
        </h2>
        <p>
          <%= visa.description %>
        </p>
      </div>
    </div>

  <% end %>
</div>
