
<ul>
  <li>
    <%= @stamp.user.name %>
  </li>
  <li>
    <%= @stamp.test.title %>
  </li>
  <li>
    Issuing date: <%= @stamp.issuing_date %>
  </li>
  <li>
    Expiration date: <%= @stamp.expiration_date %>
  </li>
</ul>

