<!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#">
        <i class="fab fa-fw fa-facebook-f">
        </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-github">
        </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-twitter">
        </i>
      </a>
      <a href="#">
        <i class="fab fa-fw fa-instagram">
        </i>
      </a>
      <p>
        © 2020 DevPassport, Inc. All Rights Reserved.
      </p>
    </div>
  </div>



