<h1>Welcome to DevPassport</h1>

<ul>
  <li><%= link_to "View all our visas", visas_path %></li>
  <li><%= link_to "View all our tests", tests_path %></li>
  <li><%= link_to "View the company dashboard", company_dashboard_path %></li>
</ul>



