.dash-dashboard-company {
  background-color: black;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  height: 1600px;


  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  p {
    color: white;
  }

  h3 {
    font-size: 30px;
    color: #FFC12F;
  }
}

.dash-img {
  width: 200px;
  height: 150px;
}

.btn-dash {
  text-decoration: none;
  border-radius: 10px;
  background-color:rgba(0,0,0,1);
  color: #BEE3DB;
}
