.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background: $black;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 30px;
}

.nav-item {
  margin: auto;
  color: white;
  font-size: 1.0em;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.navbar-home {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
  color: white;
  font-weight: bold;
  }
}
