.navbar-lewagon {
  justify-content: space-between;
  background: #3F72AF;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  color: white;
}

.nav-item {
  margin: auto;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.navbar-home {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
