// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $black;
  color: white;
}

h1 {
  font-weight: 900;
  margin: 40px 0px;
}

h2 {
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: $mango;
}

a {
  color: white;
}

p {
  opacity: .8;
  font-weight: lighter;
}

.container {
  padding-bottom: 80px;
}
